<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="featureFlattener"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="com.tibco.devtools.builder.FlattenerMain"/>
      </application>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.FlattenerTask"
            library="builder-ant.jar"
            name="devtools.flattener"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.PathXmlExporterTask"
            library="builder-ant.jar"
            name="devtools.exportpathtoxml"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.PathCopyTask"
            library="builder-ant.jar"
            name="devtools.copypath"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.FeatureSitesToPathTask"
            library="builder-ant.jar"
            name="devtools.feature.sites.path"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.PlatformConfiguratorTask"
            library="builder-ant.jar"
            name="devtools.platform.configurator"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.BuildScriptGeneratorTask"
            library="builder-ant.jar"
            name="devtools.buildscripts"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.VersionMatcherTask"
            library="builder-ant.jar"
            name="devtools.versionMatcher"/>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="com.tibco.devtools.builder.task.TagMatcherTask"
            library="builder-ant.jar"
            name="devtools.tagMatcher"/>
   </extension>
</plugin>
